<!DOCTYPE html>
{% load static %}
{% load i18n %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cityzen</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">
        <link rel="stylesheet" href="{% static 'css/auth.css' %}">
        <link rel="stylesheet" href="{% static 'css/district.css' %}">

    </head>

    <body>

        {% block content %}{% endblock %}

        {% include "layout/footer.html" %}

    </body>

</html>